// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

//RESPONSIVE BREAKPOINTS
//$bp-largest: 75em; 1200px/16=75
$bp-largest: 75em; 

//$bp-large: 62.5em; 1000px/16=62.5
$bp-large: 62.5em; 

//$bp-medium: 50em; 800px/16=50
$bp-medium: 50em; 

//$bp-small: 36.5em; 600px/16=37.5
$bp-small: 37.5em; 

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

body {
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    display:grid;
    /*grid-template-rows: 80vh auto; desen de aynı olur. auto zaten defaulttur. Burda tüm siteyi inşa ediyoruz. 8 parçalık bir grid bu. Biri sağda biri solda 2 sidebar var. Toplamda 6 row + 2sidebar oluşturuyoruz. Son 3 row içeriğe göre ayarlanacağı için repeat(3, min-content) diyoruz.*/
    grid-template-rows: 80vh min-content 40vw repeat(3, min-content);

    /* 1140 / 8 = 142.5px yani aşağı yukarı 14rem*/
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)[center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];

    @media only screen and (max-width: $bp-large) {
        //We add a new row at to top with 6rem.
        grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
        //We erase first 2 columns in order to erase sidebar
        grid-template-columns: [full-start] minmax(6rem, 1fr)[center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    }

    @media only screen and (max-width: $bp-medium) {
        //We add a new row at to top with 6rem.
        /*And what we do know is to basically take 100vh and then subtrack the 6rem that we have for the sidebar. */
        /*Eski hali grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content 40vw repeat(3, min-content); idi.  Story de buton taştığı için yapmamız gereken grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content min-content repeat(3, min-content); idi. Ama yaptığımız sadece fazlalık min-content leri silmek oldu.
       Because --> The automatic placement already takes care of that. */
        grid-template-rows: 6rem calc(100vh - 6rem);
    }
}

